[Unit]
Description=Create backward compatible /dev/ttyS* device files for Connecttech.com Xtreme PC104 serial cards
After=network.target

[Service]
Type=oneshot
ExecStart=/lib/systemd/cti-serial-service.sh

# Set RemainAfterExit=yes so that is will be considered active even
# after the .sh script exits, this will avoid misleading "dead"
# messages from systemctl status.
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

